body{
    background: #FE7400;
}

th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}
th[scope="col"] {
    background-color: #696969;
    color: #fff;
}
caption{
    font-size:1,6em;
}