<!DOCTYPE>
<html>
	<head>
		<title><h1> Acceuil IHM</h1></title>
		<meta charset= "utf-8">
		<link rel= "stylesheet" href="home.css">
	</head>

	<body>
           <div id="menu">
               <ul>
		  <li><a href="#">Archictecture SOA</a>
		    <ul>
		      <li><a href="#">Gestion des composants</a></li>
          <li><a href="DroitAcces.html">Administration droit d'accès</a></li>    
		    </ul>
		  </li>
                  <li><a href="#">Responsabilité d'application</a>
                    <ul>
                      <li><a href="#">Administration des composants</a></li>
                      <li><a href="#">Gestion des caches</a></li>
                      <li><a href="#">Gestion fonctionnalité technique et métier</a></li>
                    </ul>
                 </li>
		  <li><a href="#">Aide</a></li>
		  <li><a href="#">Contact</a></li>
	      </ul>
	      <p class="logo">
	      <img src="image/Logo.png" alt="Orange!" />
				</p>
				<p class="msg">
				<strong style="color: rgb(255, 121,0) !important;">Bienvenue,<br>
					 Chaque jour nous devenons meilleur<br>
					 pour vous<br>
					 Orange réseau mobile n°1</strong>
				</p>
          </div>
	</body>